{# based on original learn2 template #}
{% macro loop(page) %}
    {% import _self as self %}

    {% for p in page.children.visible %}
        {% set parent_page = p.activeChild ? ' parent' : '' %}
        {% set current_page = p.active ? ' active' : '' %}
        <li class="dd-item {{ parent_page }}{{ current_page }}" data-nav-id="{{ p.route }}">

        {% if p.children.count > 0 %}
            <button class="toggle-btn nav-item" id="{{ p.route }}-toggle" submenuid="{{ p.route }}-dropdown"
                onClick="submenuToggle(id)" aria-expanded="false" aria-controls="{{ p.route }}-dropdown">
                {{ p.menu }}
            </button>
            <ul class="collapse" id="{{ p.route }}-dropdown">
                {{ self.loop(p) }}
            </ul>
        {% else %}
            <a href="{{ p.url }}" class="nav-item">
                {{ p.menu }}
            </a>
        {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% import _self as macro %}

<nav id="main-nav" aria-label="Primary">
        <ul>
            {{ macro.loop(pages) }}
        </ul>
</nav>