{% extends 'docs.html.twig' %}

{% block pageHeader %}
<div class="chapter">
    {{ parent() }}
    {% if page.header.subtitle %}<p id="subtitle">{{ page.header.subtitle }}</p>{% endif %}
    {% if page.header.isIntro %}
        <p class="chapter-data"><span class="data-label">Lesson Level: </span>{{ page.header.intro.level|capitalize }}</p>
        <p class="chapter-data"><span class="data-label">Last Updated: </span>{{ page.header.intro.updated }}</p>
        <p class="chapter-data"><span class="data-label">Created By: </span>{{ page.header.intro.created }}</p>
    {% endif %}
</div>
{% endblock pageHeader %}